<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common" >

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <service
            android:name="com.common.service.InitializeService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.synthesistool" />
            </intent-filter>
        </service>

        <service android:name="com.common.service.InitApplicationService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
